.data-container {
    font-size: 12px;
    margin: 20px;
    height: 300px;
    width: 500px;
    overflow: scroll;
    background-color: rgb(73, 71, 71);

}

ul {
    list-style-type: none;
    text-align: left;
}

.category-item {
    text-align: left;
    margin: 20px;
}